@import "tailwindcss";


body {
  background-color: hsl(215, 44%, 16%);
  color: white;
  font-family: sans-serif;
}

.btn {
  @apply px-4 py-2 rounded-md transition-all duration-300 text-white;
}
.btn-blue {
  @apply bg-blue-500 hover:bg-blue-600;
}
.btn-green {
  @apply bg-green-500 hover:bg-green-600;
}
.btn-red {
  @apply bg-red-500 hover:bg-red-600;
}